# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*

# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.*
crash.log

# AWS
*.pem

# OS files
.DS_Store
Thumbs.db

# IDEs & editors
.vscode/
.idea/

# Logs
*.log
